* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans";
}

.Page-Wrapper {
  max-width: 1256px;
  margin: auto;
}

.Top-Menu {
  width: 92%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 80px;
}

.Header-Logo {
  font-weight: 700;
  font-size: 40px;
  color: #95E1D3;
}

.Header-Links {
  display: flex;
  gap: 48px;
}

.Link {
  font-weight: 400;
  font-size: 16px;
  color: #95E1D3;
  text-decoration: underline transparent;
  transition: 0.2s;
}

.Link:hover {
  font-weight: 400;
  font-size: 16px;
  color: #fa8080;
  text-decoration: underline #fa8080;
}

.Title-Container {
  text-align: center;
}

.Title-Container::after {
  content: "";
  display: block;
  width: 88px;
  height: 4px;
  background-color: #fa8080;
  margin: auto;
}

.Top-Text {
  font-family: "Lobster";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  user-select: none;
  color: #323232;
  margin-bottom: 16px;
}

.Bottom-Text {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #323232;
  margin-bottom: 40px;
}
.Our-Priorities{
  width: 88%;
  height: 48vh;
  display: grid;
  margin: auto;
  margin-top: 64px;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 50% 50%;
}
.Priority-Section{
  width: 96%;
  height: 96%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Section-Name{
  font-size: 24px;
  font-weight: 700;
}
.Section-Description{
  font-size: 12px;
  font-weight: 400;
  margin-left: 8px;
  color: #161616;
}
.Section-Image{
  width: 48px;
  height: 48px;
}
.Section-Text{
  width: 64%;
  height: 100%;
  margin-top: 32px;
}
.Team-Info{
  width: 80%;
  padding-top: 48px;
  font-size: 14px;
  font-family: "Lobster";
  font-weight: 400;
  text-align: center;
  margin: auto;
}

.Team-Container{
  width: 80%;
  height: 64vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  gap: 8px;
}
.Team-Person{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Person-Image{
  height: 96%;
  border-radius: 2px;
  text-align: center;
  margin: auto;
}
.Person-Name{
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
  font-weight: 400;
}
.Person-Info{
  display: block;
  width: 80%;
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
  font-weight: 400;
}